@tailwind base;
@tailwind components;
@tailwind utilities;

/* playfair-display-regular - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/playfair-display-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/playfair-display-v30-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/playfair-display-v30-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/playfair-display-v30-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/playfair-display-v30-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/playfair-display-v30-latin-regular.svg#PlayfairDisplay")
      format("svg"); /* Legacy iOS */
}

/* catamaran-300 - latin */
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/catamaran-v17-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/catamaran-v17-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/catamaran-v17-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/catamaran-v17-latin-300.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/catamaran-v17-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/catamaran-v17-latin-300.svg#Catamaran") format("svg"); /* Legacy iOS */
}
/* catamaran-regular - latin */
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/catamaran-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/catamaran-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/catamaran-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/catamaran-v17-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/catamaran-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/catamaran-v17-latin-regular.svg#Catamaran")
      format("svg"); /* Legacy iOS */
}

@layer base {
  html,
  body {
    @apply font-catamaran;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-playfairDisplay;
  }
  h1 {
    @apply text-5xl;
  }
}

@layer components {
  .navlink-active {
    @apply ring-1 ring-black/10;
  }
  .sidebar-link-active {
    @apply underline decoration-4 underline-offset-4;
  }
}
